[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
snakemake = "==8.4.3"
networkx = "*"
matplotlib = "*"
omni-schema = {git = "https://github.com/omnibenchmark/omni-schema.git", editable = true, ref = "version/0.0.1"}
linkml-runtime = ">=1.7.0"
rdflib = "==7.0.0"
pyyaml = "~=6.0.1"

[dev-packages]

[requires]
python_version = "3.11"
